* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}

.app-header .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header #cria_pasta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.app-header #cria_pasta p{
    margin-right: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid .item {
    display: flex;
    flex-direction: column;
    border: 1px #ccc solid;
    padding: 7px;
    box-shadow: 1px 1px 2px #ccc;
}

.grid .item h4{
    margin-bottom: 8px;
}

.grid .item i {
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
}

.app-footer {
    flex-shrink: 0;
    background: #f4f4f4;
    color: #444;
    padding: 10px;
    margin-top: 10px;
}

.app-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.app-footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer ul li i{
    font-size: 25px;
}

.app-footer ul .notCurrent:hover {
    color:rgba(47, 103, 126, 0.836);
    cursor: pointer;
}

.app-footer ul .current  {
    color:rgba(13, 165, 224, 0.836);
    cursor: pointer;
}